/* GLOBAL RESET*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*

TABLE OF CONTENTS

# GLOBAL RESETS
# BASE TYPOGRAPHY
# BUTTONS
# MEDIA
    # RESPONSIVE IMAGES
# LAYOUT
    # CONTAINER
    # MEDIA QUERIES
    # SEMANTIC GRID SYSTEM
# STRUCTURE
    # SITE HEADER
    # SITE NAV
    # MAIN
        # SECTIONS
    # SITE FOOTER


*/
/* BASE TEXT COLORS */
body {
  color: rgba(0, 0, 0, 0.4);
}

/* BASE HEADINGS COLORS*/
h1, h2, h3, h4, h5, h6 {
  color: rgb(42, 42, 42);
}

/* BASE TEXT FONTS */
body {
  font-family: "source sans pro", Helvetica, Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Serif Pro", Georgia, "Times New Roman", Times, serif;
  font-weight: 700;
}

/* BASE TYPOGRAPHY */
body {
  font-size: 100%;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0 0 0.5wm 0;
}

/* TYPOGRAPHIC SCALE */
h1 {
  font-size: 3em;
  line-height: 1em;
}

h2 {
  font-size: 2.25em;
  line-height: 1.1em;
}

h3 {
  font-size: 1.5em;
  line-height: 1.2em;
}

/* LIMIT NUMBER OF CHARACTERS PER LINE */
p {
  max-width: 30em;
}

/* LINKS */
a {
  color: rgb(171, 50, 163);
}
a:hover {
  color: rgb(100, 26, 101);
}

/* HORIZONTAL LINE */
hr {
  border: 0;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 3em 0;
}

/* TYPE SPECIMEN */
.healine {
  font-size: 4em;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  color: rgb(209, 108, 210);
}

.subheadline {
  font-weight: normal;
  font-size: 2.5em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.5);
  margin: 0.25em 0;
}

/* SECTION HEADING */
.section-heading {
  font-size: 1em;
  font-family: "source sans pro", Helvetica, Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  display: table;
  margin: 3em 0;
}

/* HELPERS */