

// BREAKPOINTS
$breakpoint-small: 768px;
$breakpoint-medium: 1050px;
$breakpoint-large: 1250px;

 
/* GLOBAL RESET*/ 
* { box-sizing: border-box;}

// VARIABLES
$color-text-body: rgba(0,0,0,.4);
$color-text-headings: rgb(42, 42, 42);
$color-accent: rgb(209, 108, 210);
$color-accent-dark: rgb(209, 108, 210);
$color-accent-light: rgb(248, 246, 246);


$color-lightgrey: rgba(0, 0, 0,.5);

$font-family-sans: 'source sans pro', Helvetica, Arial, Helvetica, sans-serif;
$font-family-serif: 'Source Serif Pro', Georgia, 'Times New Roman', Times, serif;
$mycolor: pink;

// IMPORTS
@import "partials/toc";
@import "partials/typography";
@import "partials/buttons";
@import "partials/media";
@import "partials/layout";
@import "partials/grid";
@import "partials/structure";


body {

}
 