/* CSS ANIMATIONS */

.scroll-triggered[data-sectionstate="active"] {
    opacity: 1;
    transition: all .4s linear .5s;
}

.scroll-triggered[data-sectionstate="inactive"] {
    opacity: 0;

}

 // ANIMATE SECTION 1 ON SCROLL */
#section1.scroll-triggered[data-sectionstate="inactive"] {

    .jd-contentblock-image {
        transform: translateX(-200px);
        opacity: 0;
    }

    .jd-contentblock-text {
        transform: translateX(200px);
        opacity: 0;
    }
}

#section1.scroll-triggered[data-sectionstate="active"] {

    .jd-contentblock-image {
        transform: translateX(0px);
        opacity: 1;
        transition: all 1s ease-out;
    }

    .jd-contentblock-text {
        transform: translateX(0px);
        opacity: 1;
        transition: all 1s ease-out;
    }
}

 // ANIMATE SECTION 2 ON SCROLL */
 #section2.scroll-triggered[data-sectionstate="inactive"] {

    background-color: #888;

    .jd-contentblock-image {
        transform: translateX(-200px);
        opacity: 0;
    }

    .jd-contentblock-text {
        transform: translateX(200px);
        opacity: 0;
    }
}


 // ANIMATE SECTION 3 ON SCROLL */
 #section3.scroll-triggered[data-sectionstate="inactive"] {
    
    .jd-contentblock-image {
        position: relative;
        margin-top: 4em;
    }

    #section3 .jd-character {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }
}

