/* SITE NAV */

.site-nav {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        background: pink;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translate(0, 0);
        transition: all .3s ease-out;  
    }

    &[data-navstate="closed"]
    ul {
        transform: translate(100%, -100%);


    }
    a {
        display: inline-block;
        padding: 1em;
        line-height: 1;
    }

    .menu-button {
        background-color: transparent;
        border: none;
        color: rgb(0, 0, 0); 
        position: relative;
        z-index: 20;
    }
}
