/* SITE STRUCTURE */

.site-header {
    position: absolute;
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    a {
    color: white;
    text-decoration: none;
}

    h1 {
        font-size: 1.5em;
        margin: 0;
    }

    .site-id {
        display: flex;
        align-items: center;
    }

    

    .logo {
        max-width: 50px; 
        margin-right: .5em;
    }
}

    /* SITE FOOTER */
    .site-footer {
        background: rgb(0, 0, 0); 
        display: flex;
        padding: 1em;
        justify-content: center;

        a {
            color: white;
            text-decoration: none;
        }
    }

    .site-main {
        overflow-x: hidden;
    }

    /* SITE NAV */
    .sitenav {
        ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        }
        a {
           display: inline-block; 
           padding: 1em;
           line-height: 1;
        }
    }   

    section {
        padding: 4em 0;
        min-height: 101vh;
        display: flex;
        align-items: center; 
    }

/* HERO SECTION */
.hero {
    background-color: rgb(196, 90, 90);
    color: white;
    text-align: center;
    padding: 6em 0; 
    min-height: 100vh;
    display: grid;
    place-items: center;

    .container {
        margin-left: 0;
        margin-right: 0;
    }

    h1 {
        margin-bottom: .25em;    }
    p {
        margin: 1em auto;
    }
}